apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - service.yaml
  - deployment.yaml
images:
  - name: registry.werf.io/nelm/source-controller
    newName: registry.werf.io/nelm/source-controller
    newTag: v0.1.1
